doctype html
html(lang="en")
		include ./partials/_head.jade
		
		body#page-top
			block content


			script(src='/static/js/jquery.js')
			script(src='/static/js/bootstrap.min.js')
			script(src='/static/js/character-counter.js')
			script(src='/static/js/close-window.js')
			